a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  height: 100%; }

body {
  height: 100%;
  color: #333; }

section {
  height: 100%;
  margin: 0 12px; }

.login {
  margin: 0 48px;
  padding: 0; }
  .login .title {
    padding-top: 115px;
    margin-bottom: 40px;
    font-size: 27px;
    text-align: center;
    color: #333; }
  .login div {
    position: relative; }
    .login div input {
      background-color: #f8f8f8;
      height: 40px;
      line-height: 40px;
      text-indent: 12px;
      font-size: 15px;
      color: #333;
      border-radius: 4px;
      border: 1px solid #f1f1f1;
      margin-bottom: 20px;
      width: 100%; }
    .login div a {
      position: absolute;
      right: 0px;
      top: 2px;
      background: #ff9936;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff; }
  .login form > input {
    margin-top: 37px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    background: #d3d2d1;
    font-size: 18px; }
  .login form > input.active {
    background: linear-gradient(to left, #ff6636, #ff9936); }

.index {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%; }
  .index .top {
    position: relative;
    height: 64%;
    background: url(../images/index.jpg) no-repeat;
    overflow: hidden;
    background-size: contain; }
  .index .btn {
    top: 63%;
    position: absolute;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box; }
  .index a,
  .index input {
    display: block;
    text-align: center;
    height: 47.5px;
    line-height: 47.5px;
    color: #fff;
    font-size: 15px;
    border-radius: 8px; }
    .index a:first-child,
    .index input:first-child {
      background: linear-gradient(to left, #ff6636, #ff9936); }
      .index a:first-child:active,
      .index input:first-child:active {
        background: #f9cf0b; }
    .index a + input,
    .index input + input {
      width: 100%;
      margin-top: 20px;
      box-shadow: 0 0 7px rgba(86, 86, 54, 0.08);
      border: 1px solid #c3c3c3;
      color: #ff6636; }
      .index a + input:active,
      .index input + input:active {
        border-color: #ff9936; }

.code {
  margin: 0;
  background-color: #f9f9f9; }
  .code .top {
    padding: 50px 75px;
    background-color: #fff; }
    .code .top a,
    .code .top input {
      width: 100%;
      text-align: center;
      display: block;
      border-radius: 4px; }
    .code .top input {
      height: 38px;
      line-height: 38px;
      border: 1px solid #dadada;
      margin-bottom: 25px; }
    .code .top a {
      background-color: #d3d2d1;
      height: 40px;
      line-height: 40px;
      color: #fff; }
      .code .top a.active {
        background: linear-gradient(to left, #ff6636, #ff9936); }

.pay {
  text-align: center; }
  .pay .machine-code {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #666;
    font-size: 15px; }
  .pay .title {
    font-size: 18px;
    color: #333;
    padding-bottom: 25px; }
  .pay .num {
    font-size: 24px;
    margin-bottom: 65px; }
    .pay .num span {
      color: #333;
      font-size: 50px; }
  .pay .wechat-pay {
    margin: 0 60px;
    text-align: left;
    font-size: 13px;
    height: 33px;
    line-height: 33px;
    color: #666;
    padding-left: 22px;
    border-bottom: 1px solid #dadada;
    background: url(../images/wechat-pay.png) left center no-repeat;
    background-size: 14px;
    margin-bottom: 115px;
    position: relative; }
    .pay .wechat-pay label {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
      width: 12px;
      height: 12px;
      display: block;
      background: url(../images/checked.png) no-repeat;
      background-size: 12px; }
    .pay .wechat-pay input {
      display: none; }
  .pay .btn {
    margin: 0 50px; }
    .pay .btn a {
      display: block;
      border-radius: 6px;
      height: 40px;
      line-height: 40px;
      border: 0;
      color: #fff;
      background-color: #60ad48;
      width: 100%;
      font-size: 15px; }

.active-code {
  height: 100%;
  padding-top: 21px;
  background-color: #f9f9f9; }
  .active-code .top {
    margin: 0px 25px 0;
    text-align: center;
    background-color: #fff;
    padding-bottom: 43px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); }
  .active-code .machine-code {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #333;
    font-size: 19px; }
  .active-code .title {
    font-size: 14px;
    color: #333;
    padding-bottom: 25px; }
  .active-code .num input {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 33px;
    background-color: #e8e8e8;
    margin: 0;
    border: 1px solid #dadada;
    border-radius: 1px; }
    .active-code .num input.mini {
      width: 34px;
      height: 34px; }
  .active-code .tips {
    margin-top: 43px;
    margin: 43px 25px;
    font-size: 11px;
    color: #666;
    line-height: 18px; }

.order-list {
  padding: 0 18px; }
  .order-list li {
    border-bottom: 1px solid #dadada;
    padding: 14px 20px; }
    .order-list li .time {
      color: #666;
      font-size: 12px;
      margin-bottom: 10px; }
    .order-list li .detail {
      display: flex;
      justify-content: space-between;
      font-size: 13px; }
      .order-list li .detail .left {
        line-height: 16px; }
      .order-list li .detail .money {
        margin-top: 19px;
        padding-left: 18px;
        background: url(../images/money.png) left center no-repeat;
        background-size: 13px;
        height: 13px;
        line-height: 13px; }

.user-center {
  padding: 0px;
  background-color: #f9f9f9;
  height: 100%; }
  .user-center .avatar {
    margin-right: 23px; }
    .user-center .avatar img {
      width: 59px;
      height: 59px;
      border-radius: 50%; }
  .user-center .me {
    background-color: #fff;
    padding: 32px 28px;
    display: flex;
    justify-content: start;
    line-height: 1; }
    .user-center .me .name {
      margin-top: 15px;
      font-size: 14px; }
    .user-center .me .degree {
      font-size: 11px;
      color: #666;
      margin-top: 8px; }
  .user-center .my-list {
    margin-top: 21px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    height: 55px;
    line-height: 55px;
    background: url(../images/icon.png) 30px center no-repeat;
    background-size: 20px; }
    .user-center .my-list a {
      padding-left: 59px;
      font-size: 13px;
      color: #666;
      display: block;
      background: url(../images/arrow.png) no-repeat;
      background-size: 8px 14px;
      background-position: right center;
      margin-right: 29px; }
